fieldset {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  legend {
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    text-align: start;
  }
}

.form-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.form-check .form-check-input {
  float: none;
  margin: 0;
  background-color: white;
}

.booking-container {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  h1, h3 {
    text-align: center;
  }
}

.form-part-up {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

.form-part-middle {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

.form-part-middle-dates {
  display: flex;
}

.form-part-down {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

.form-part-summary {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.2);
}

.booking-part {
  display: flex;
  justify-content: center;
}

.booking-part-left {
  width: 25%;
  max-width: 300px;
  padding-right: 50px;
}

.booking-part-right {
  max-width: 850px;
  .my-standard-button {
    margin: 0 auto;
    margin-top: 25px;
  }
  .new_booking {
    text-align: center;
  }
}

.booking_start_date {
  width: 50%;
  input {
    background-color: white;
  }
}

.booking_end_date {
  width: 50%;
  input {
    background-color: white;
  }
}

.bedrooms-input {
  width: 100px;
  height: 50px;
  border-radius: 0 !important;
}

.bathrooms-input {
  width: 100px;
  height: 50px;
  border-radius: 0 !important;
}

.cleaning-input {
  width: 200px;
  height: 50px;
  border-radius: 0 !important;
}

.number-input {
  width: 120px;
  height: 50px;
  border-radius: 0 !important;
}

.booking-bedrooms {
  width: 100%;
  .form-check {
    width: 12%;
  }
}

.booking_cleaning_type {
}

.booking_number_of_visits {
}

.booking_address {
  input {
    background-color: white;
  }
}

.booking_city {
  input {
    background-color: white;
  }
}

.booking_country {
  input {
    background-color: white;
  }
}

.booking_zipcode {
  input {
    background-color: white;
  }
}

.booking_further_info {
  input {
    background-color: white;
  }
}

.left-cleaning-details {
  height: 550px;
}



.form-check-input:checked {
  background-color: $darkblue;
  border-color: $darkblue;
}

.left-time-and-date {
  height: 320px;
}

.mb-3 {
  margin: 0 !important;
}

.form-down-address {
  display: flex;
  flex-wrap: wrap;
  .booking_address {
    width: 75%;
    margin-bottom: 25px;
    height: 100px;
  }
  .booking_zipcode {
    width: 25%;
    height: 100px;
  }
  .booking_city {
    width: 50%;
    height: 100px;
  }
  .booking_country {
    width: 50%;
    height: 100px;
  }
  .booking_new_user_name {
    width: 25%;
    height: 100px;
    input {
      background-color: white;
    }
  }
  .booking_new_user_phone {
    width: 25%;
    height: 100px;
    input {
      background-color: white;
    }
  }
  .booking_new_user_email {
    width: 25%;
    height: 100px;
    input {
      background-color: white;
    }
  }
  .booking_new_user_password {
    width: 25%;
    height: 100px;
    input {
      background-color: white;
    }
  }
}
